<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Griffin - Blog</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Griffin Okamoto</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="./about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="./resume">Resume</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#page-top">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Blog</span>
                        <!-- <h1> Blog </h1> -->
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3> Check out some of my previous work! </h3>
                    <h5> June 10, 2015 </h5> <br>
                    <p> Welcome to the first post of my blog! I thought I would kick things off with a sneak peek into the sort of work I do in my MSAN classes. Unfortunately, we keep a lot of our projects under wraps so that professors can reuse assignments for future cohorts. However, a few projects are open-ended enough to ease the worry of reuse, and I have added them to my github and elsewhere. Hopefully at some point in the future I'll compose a more blog-friendly summary of these projects. Enjoy!</p>   
                    <br>             
                    <ul>
                        <li> 
                            <h4> <a href="http://gokamoto.github.io/MSAN622-InformationVisualization/Project/final.html"> San Francisco Muni Feedback Visualizations </a> </h4> 
                            <p> Completed as part of the Information Visualization course. Used D3 to create a interactive visualization dashboard that displays the San Francisco 311 reports for Muni from January-April 2015. </p>
                        </li>
                        <br>
                        <li> 
                            <h4> <a href="https://github.com/kmhoo/AdvancedMLProject">Yelp Recommendation Engine </a> </h4> 
                            <p> Completed as part of the Advanced Machine Learning course. Predicting users' star ratings of businesses using random forest. Conducted feature engineering to minimize data leakage, reduce dimensionality, and improve model performance. Feature engineering techniques included collaborative filtering, principal components analysis, and k-means. </p>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </section>







    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Griffin Okamoto 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>


</body>

</html>